:root {
  --primary-color: #ff9854;
  --home-bg-color: #f6f8fa;
  --van-search-left-icon-color: var(--primary-color) !important;
  --van-calendar-popup-height: 100% !important;
  --van-primary-color: #ff9854 !important;
}

body {
  font-size: 14px;
}

img {
  vertical-align: bottom;
}